@media (max-width: 760px) {
    #editCourseDiv { padding-right: 75px; }
}

@media (max-width: 377px) {
    #editCourseDiv { padding-right: 50px; }
    #editProfileButton {
		border-radius: 5px;
		margin-right: 140px; 
	}
}

@media (max-width: 325px) {
    #editCourseDiv { padding-right: 25px; }
    #editProfileButton {
		border-radius: 5px;
		margin-right: 86px; 
	}
}

#coursesEnrolledTitle {
	font-size: 20px;
}

#outsideOfProfileCourseCard {
	border-radius: 5px;
	margin: auto 5px; 
}

@media (max-width: 430px){
	#outsideOfProfileCourseCard {
		border-radius: 5px;
		margin: auto 25px; 
	}

}

#outereditProfileForm {
	text-align: center;
}

nav a img {
	height: 43px;
	width: 43px;
}

.courses.container {
	min-height: auto;
}

body {
	min-height: 100vh;
}

.back-btn {
	z-index: 10
}

.footer {
	position: absolute;
	bottom: 0;
}